Source/Packages/
Backup/
Temp/
Plugins/*
!Plugins/GamePlugin.core.dll
!Plugins/GamePlugin.core.pdb
!Plugins/GamePlugin.core.xml
!Plugins/EditorPlugin.editor.dll
!Plugins/EditorPlugin.editor.pdb
!Plugins/EditorPlugin.editor.xml
AdamsLair.WinForms.dll
AdamsLair.WinForms.pdb
AdamsLair.WinForms.xml
Aga.Controls.dll
Aga.controls.pdb
DDoc.chm
DefaultTimeData.dat
Duality.pdb
Duality.xml
DualityLauncher.exe
DualityLauncher.exe.config
DualityLauncher.pdb
DualityPhysics.pdb
DualityPhysics.xml
DualityPrimitives.pdb
DualityPrimitives.xml
DualityUpdater.exe
EditorUserData.xml
logfile.txt
logfile_editor.txt
NVorbis.XML
OpenAL32.dll
OpenTK.dll
OpenTK.dll.config
OpenTK.GLControl.dll
OpenTK.GLControl.xml
OpenTK.pdb
OpenTK.xml
perflog.txt
perflog_editor.txt
PopupControl.dll
PopupControl.pdb
UserData.dat
WeifenLuo.WinFormsUI.Docking.dll
WeifenLuo.WinFormsUI.Docking.pdb
Source/Code/CorePlugin/bin/
Source/Code/CorePlugin/obj/